.shattered-plains-location{
    background-image: url(../../../../assets/photos/PixelShatteredPlains.jpg);
}

.thaylenah-location{
    background-image: url(../../../../assets/photos/PixelThaylenah.jpg);
}

.urithiru-location{
    background-image: url(../../../../assets/photos/PixelUrithiru.jpg);
}

.luthadel-location{
    background-image: url(../../../../assets/photos/PixelLuthadel.jpg);
}

.elendel-location{
    background-image: url(../../../../assets/photos/PixelElendel.jpg);
}

.crimson-sea-location{
    background-image: url(../../../../assets/photos/PixelTress.jpg);
}

.kilahito-location{
    background-image: url(../../../../assets/photos/PixelYumi.jpg);
}

.elantris-location{
    background-image: url(../../../../assets/photos/PixelElantris.jpg);
}

.shadesmar-location{
    background-image: url(../../../../assets/photos/PixelShadesmar.jpg);
}

.warbreaker-location{
    background-image: url(../../../../assets/photos/PixelWarbreakerCity.jpg);
}

.no-location{
    background-image: url(../../../../assets/photos/NoLocation.jpg);
}


