.start-page-background{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../assets/photos/Cosmere.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    top:0;
}

.cosmere{
    text-align: center;
    font-size: 10rem;
    color: rgb(211, 194, 141);
    font-family:fantasy;
}

.cosmere:hover{
    color: white;
}
